<!DOCTYPE html>
<html>
  <head>
    <title>RailsWebpackerExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag    'stylesheets' %>
    <%= javascript_pack_tag    'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
